
.company-views {
  .tabs {
    margin: 2rem 0;
  }
}

.careers {
  h4 {
    margin: 0;
  }

  .card {
    p {
      font-size: 1em;
    }

    h3 {
      margin-bottom: .2em;
    }
  }
}

.contact-us {
  .compound-input {
    margin: 10px 0px;
  }
  textarea {
    margin-top: 10px;
  }
}