.vet-office-finder {
  .section-title {
    font-size: 1.6rem;
  }

  .alphabetical-search {
    margin-bottom: 1rem;
  }

  .search-result-item {
    margin: 1rem 0;

    h4 {
      margin-bottom: .5rem;
    }

    p {
      margin: 0;
    }
  }
}
