.pets-avatar-list {

  .pet {
    padding: 0;
  }

  &.inline-list {
    > li + li {
      margin-left: .3rem;
    }
  }
}

.pet {
  &.card {
    padding: .75rem;
    position: relative;

    .name {
      font-size: 1.2em;
    }

    .content {
      margin-left: 1rem;
    }

    .details-list {
      display: none;
    }

    &.expanded {
      .details-list {
        display: flex;
      }

      .expand-collapse {
        transform: rotate(180deg);
      }
    }
  }

  .display-hidden {
    display: none;
    transition: .5s;
  }

  .header {
    align-items: center;
    display: flex;
  }

  .content {
    line-height: 1.2;
    margin-left: .5em;

    &.inline {
      .name,
      .description {
        display: inline-block;
      }

      .description {
        margin-left: .5em;
      }
    }
  }

  .name {
    color: $primary;
    font-weight: 400;
  }

  .description {
    color: $gray;
    font-size: .8em;
    font-weight: 400;
    text-transform: uppercase;
  }

  .details-list {
    background: rgba($white, .75);
    border-top: 1px solid $gray-lighter;
    display: flex;
    flex-wrap: wrap;
    margin-top: .75rem;
    padding: .75rem;

    .detail {
      // border-left: 3px solid $gray-lighter;
      margin: 0;
      // padding-left: .5rem;
      width: 45%;
    }

    .detail-title {
      color: $gray-light;
      font-size: .7em;
      font-weight: 400;
      margin-bottom: .1rem;
      margin-right: .15rem;
      text-transform: uppercase;
    }

    .detail-title,
    .detail-description {
      display: inline-block;
    }
  }

  .expand-collapse {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
    transition: $transition;
  }
}

.add-pets {
  background: rgba($secondary-lighter, .25);
  margin: 2em 0;
  padding: 1em;
  text-align: center;
}

.pet-dropdown {
  background: $white;
  border-radius: $border-radius;
  cursor: pointer;
  min-width: 15rem;
  position: relative;

  .chevron-down {
    color: $gray;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 4;
  }

  .options-list {
    background: $white;
    box-shadow: 0 0 6px rgba(0, 0, 0, .25);
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 2;
  }

  &.open {
    .options-list {
      display: block;
    }
  }

  .active-item {
    background: $white;
    position: relative;
    z-index: 3;
  }

  .pet {
    padding: .5em 3em .5em .5em;
    transition: $transition;

    &:hover {
      background: $gray-lighter;
    }
  }
}
